body{
    vertical-align: middle;
    scroll-behavior: smooth;
}
.main1280 {
    box-align:  center;
    display:block;
    position: relative;
    width: 1280px; 
    height: 3796px;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
   }
  
  .header {
      position: relative;
      width: 1200px;
      height: 60px;
      left: calc(50% - 1200px/2);
      top: calc(50% - 60px/2 - 1838px);
      display: flex;
  }
  
  .logo {
      position: absolute;
      width: 184px;
      height: 60px;
      left: 0px;
      top: 0px;
  }
  
  .logo-title {
      position: absolute;
      width: 184px;
      height: 35px;
      left: 0px;
      top: calc(50% - 35px/2 - 12.5px);
      
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 110%;
        
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
           
      color: #F1CDB3;
  
  }
  .logo-subtitle {
      position: absolute;
      width: 179px;
      height: 15px;
      left: 4px;
      top: calc(50% - 15px/2 + 22.5px);
              
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      
      line-height: 15px;
      display: flex;
      align-items: center;
      letter-spacing: 0.09em;
      color: #FFFFFF; 
  }
  .start-screen{
      position: absolute;
      height: 908px;
      left: 0%;
      right: 0%;
      top: 0px;    
  }
  .start-screen-content {
  position: absolute;
  width: 1200px;
  height: 728px;
  left: 40px;
  top: 180px;
  }
  .start-screen-gradient-background {
  
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  }
  .start-screen-background {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: url(start-screen-background.jpg);
  
    }
  .nav-menu {
  position: absolute;
  width: 443px;
  height: 27px;
  left: 757px;
  top: 16px;
  text-decoration: none;
  cursor:pointer;
  
  }
  .nav-menu :hover  {
    border-color: #F1CDB3;
    border-bottom: solid;
   
   }         
    
  
  .about-the-shelter {
      position: absolute;
      width: 114px;
      height: 24px;
      top: 16px;
      
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
       
      color: #FAFAFA;
      text-decoration: none;
           
  }
  
  .our-pets {
        
   position: absolute;
   width: 58px;
   height: 24px;
   right: 236px;
   top: 16px;
  
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  text-decoration: none;
  
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  .help-the-shelter {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 10px;
      
      position: absolute;
      width: 106px;
      height: 24px;
      right: 95px;
      top: 16px;
  
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: #CDCDCD;
      text-decoration: none;
  
      flex: none;
      order: 0;
      flex-grow: 0;
  }
  .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  
  position: absolute;
  width: 60px;
  height: 24px;
  right: 0px;
  top: 16px;
  
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  
  color: #CDCDCD;
  text-decoration: none;
  
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  
  .content{
      position: absolute;
  width: 460px;
  height: 322px;
  left: 0px;
  top: 163px;
  }
  .start-screen-puppy{
  position: absolute;
  width: 698px;
  height: 728px;
  left: calc(50% - 698px/2 + 251px);
  bottom: 0px;
  
   }
  .heading{
  position: absolute;
  width: 310px;
  height: 114px;
  left: calc(50% - 310px/2 - 75px);
  bottom: 208px;
  
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
  }
  .sub-heading{
      position: absolute;
      width: 460px;
      height: 72px;
      left: calc(50% - 460px/2);
      bottom: 93px;
         
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
       
      display: flex;
      align-items: center;
     
      color: #CDCDCD;
}
.button-primary {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 15px 45px;
gap: 10px;
cursor: pointer;
position: absolute;
width: 207px;
height: 52px;
left: calc(50% - 207px/2 - 126.5px);
bottom: 0px;

background: #F1CDB3;
border-radius: 100px;
color:#292929 ;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0.06em;
}


.about {
    position: absolute;
    height: 588px;
    left: 0%;
    right: 0%;
    top: 908px;
background-color: #fffcfc ;
}

.about-content{
position: absolute;
width: 1200px;
height: 408px;
left: calc(50% - 1200px/2);
top: calc(50% - 408px/2 - 10px);
}
.about-content-content{
position: absolute;
width: 430px;
height: 380px;
left: 595px;
top: 14px;
}
.about-pets-pic {
    position: absolute;
    width: 300px;
    height: 408px;
    left: 175px;
    top: 0px;
  
}

h3 {
  
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;

display: flex;
align-items: center;
justify-content: center;
letter-spacing: 0.06em;

color: #545454;

}

.about-content-heading {
position: absolute;
width: 370px;
height: 90px;
left: 0px;
top: 0px;
align-items: center;
justify-content: top;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;

display: flex;
align-items: center;
justify-content: center;
letter-spacing: 0.06em;

color: #545454;

}
.about-content-subheading1 {
position: absolute;
width: 430px;
height: 96px;
left: 0px;
top: 115px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;

color: #4C4C4C;
}
.about-content-subheading2 {
position: absolute;
width: 430px;
height: 144px;
left: 0px;
top: 237px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;

display: flex;
align-items: center;

color: #4C4C4C;
}
.pets{
position: absolute;
height: 877px;
left: 0%;
right: 0%;
top: 1496px;

background: #F6F6F6;
}      

.pets-content{
position: absolute;
width: 1200px;
height: 697px;
left: calc(50% - 1200px/2);
top: 80px;

}
.pets-content-heading{
position: absolute;
width: 400px;
height: 90px;
left: 400px;
top: 0px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #545454;
}

.slider{
position: absolute;
width: 1200px;
height: 435px;
left: 70px;
top: 150px;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: 1;

}
.slider :hover{
    color:#250276;
}
.button-arrow1{
box-sizing: border-box;

display: flex;
flex-direction: column;
align-items: center;
padding: 23px 19px;

position: absolute;
width: 52px;
height: 52px;
left: 0px;
top: 325px;

border: 2px solid #F1CDB3;
border-radius: 100px;
}
.arrow{
width: 14px;
height: 3px;
font-family: 'Georgia';
font-style: normal;
font-weight: 200;
font-size: 35px;
line-height: 130%;

background: #292929;
flex: none;
order: 0;
flex-grow: 0;

}
.button-arrow2{
    box-sizing: border-box;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 19px;
    
    position: absolute;
    width: 52px;
    height: 52px;
    left: 1090px;
    top: 191px;
     
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transform: rotate(-180deg);
}
.card1{
position: absolute;
width: 270px;
height: 435px;
grid-column-start:1;


background: #FAFAFA;
border-radius: 9px;
cursor:pointer;
}
.card2{

    position: absolute;
    width: 270px;
    height: 435px;
      grid-column-start: 2;
      background: #FAFAFA;
    border-radius: 9px;
    cursor:pointer;
}

.card3
{
    position: absolute;
      grid-column-start: 3;
    
    background: #FAFAFA;
    border-radius: 9px;
    cursor:pointer;
}
.pets-card-button-secondary{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 187px;
height: 52px;
left: 41.5px;
top: 353px;
}

.pets-card-button-primary{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    gap: 10px;
    
    width: 187px;
    height: 52px;
    
    border: 2px solid #F1CDB3;
    border-radius: 100px;
         
    flex: none;
    order: 0;
    flex-grow: 0;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0.06em;
color: #292929;

}

.petname{
    position: absolute;
width: 74px;
height: 23px;
left: 98px;
top: 300px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #545454;
}
.card-picture{

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 37.93%;
      
    border-radius: 9px 9px 0px 0px;

}
.slider-button{

display: flex;
flex-direction: column;
align-items: center;
padding: 15px 45px;
gap: 10px;

position: absolute;
width: 261px;
height: 52px;
left: 470px;
top: 645px;

background: #F1CDB3;
border-radius: 100px;
border-width: 0;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;

letter-spacing: 0.06em;

color: #292929;
}
   
.ourpets1280{
position: relative;
width: 1280px;
height: 1812px;
}
.op-header-container{
    position: absolute;
    height: 120px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #FFFFFF;
}

.op-header{
position: absolute;
width: 1200px;
height: 60px;
left: calc(50% - 1200px/2);
top: calc(50% - 60px/2);

}
.op-header-logo{
position: absolute;
width: 184px;
height: 60px;
left: 0px;
top: 0px;
}
.op-header-title{
    position: absolute;
width: 184px;
height: 35px;
left: 0px;
top: calc(50% - 35px/2 - 12.5px);

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
display: flex;
align-items: center;
letter-spacing: 0.06em;

color: #545454;
}
.op-header-subtitle{
    position: absolute;
    width: 179px;
    height: 15px;
    left: 4px;
    top: calc(50% - 15px/2 + 22.5px);
     
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
     
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
      
    color: #292929;    
}

.help{
    position: absolute;
height: 611px;
left: 0%;
right: 0%;
top: 2373px;

background: #FFFFFF;
}
.help-content{
position: absolute;
width: 1200px;
height: 431px;
left: calc(50% - 1200px/2);
top: 80px;
}
.help-content-heading{
position: absolute;
width: 308px;
height: 90px;
left: 446px;
top: 0px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #545454;
}
.list{
position: absolute;
width: 1026px;
height: 140px;
left: 50px;
top: 150px;
justify-items: center ;
display: grid;
grid-template-columns: auto;
grid-template-rows: 1;
}
.list2{
    position: absolute;
    width: 820px;
    height: 140px;
    left: 160px;
    top: 290px;
    justify-items: center ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:1;
    }
  
.pet-food {
    display: flex;
    grid-column-start: 1;
    
    justify-content: center; 
    width: 150px;
    padding:  0 40px 0 40px;
}
.pet-transportation {
    display: flex;
        grid-column-start: 2;
        
        width: 150px;
        justify-content: center; 
        padding:  0 40px 0 40px;
    
}
.pet-toys {
    display: flex;
    grid-column-start: 3;
    
    width: 150px;
    justify-content: center;
    padding:  0 40px 0 40px;
}
.pet-cups{
    display: flex;
    grid-column-start: 4;
   
    width: 150px;
    justify-content: center;  
    padding:  0 40px 0 40px;
}
.pet-shampoos{
    display: flex;
    grid-column-start: 5;
    
    width: 150px;
    justify-content: center;  
    padding:  0 40px 0 40px;
}
.pet-vitamins{
   
    display: flex;
    grid-column: 1 / 2;
    
    width: 150px;
    justify-content: center;  
    padding:  0 40px 0 40px;
}
.pet-medicines{
    
    display: flex;
    grid-column: 2 /3;
   
    width: 150px;
    justify-content: center;  
    padding:  0 40px 0 40px;
}
.pet-collars{
   
    display: flex;
    grid-column: 3 / 4;
    
    width: 150px;
    justify-content: center;  
    padding:  0 40px 0 40px;
}
.pet-sleeping{
    
    display: flex;
    grid-column: 4 / 5;
    
    width: 150px;
    justify-content: center;  
    padding:  0 40px 0 40px;
}
.pet-icon{
   position: absolute;
    width: 60px;
    display: flex;
   
}
.list-text{
position: absolute;
width: 150px;
height: 23px;
top: 60px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;

display: flex;
align-items: center;
text-align: center;
justify-content: center;
letter-spacing: 0.05em;

color: #545454;

}
.donation {
position: absolute;
height: 462px;
left: 0%;
right: 0%;
top: 2984px;

background: #F6F6F6;
}
.donation-content{
position: absolute;
width: 915px;
height: 282px;
left: calc(50% - 915px/2 + 0.5px);
top: 80px;
    
}
.donation-dog{
    position: absolute;
    width: 505px;
    height: 261px;
    left: 0px;
    top: 11px;
    
}
.donation-content-content{
    position: absolute;
    width: 380px;
    height: 282px;
    left: 535px;
    top: 0px;
}
.donation-heading{
    position: absolute;
width: 300px;
height: 90px;
left: 0px;
top: 0px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;

display: flex;
align-items: center;
letter-spacing: 0.06em;
color: #545454;
}
.donation-subheading{

position: absolute;
width: 307px;
height: 17px;
left: 0px;
top: 110px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
display: flex;
align-items: center;
letter-spacing: 0.05em;

color: #545454;
}
.credit-card{
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 15px;
gap: 10px;

position: absolute;
width: 349px;
height: 43px;
left: 0px;
top: 147px;

background: #F1CDB3;
border-radius: 9px;
}
.credit-card-icon{
    
position: absolute;
display: flex;
width: 30px;
height: 23px;
left: 15px;
top: 10px;
justify-content: center;
}
.credit-card-content{
width: 319px;
height: 23px;
flex: none;
order: 0;
flex-grow: 0;
}
.credit-card-text{
   
position: absolute;
width: 274px;
height: 23px;
left: 60px;
top: 10px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
display: flex;
align-items: center;
justify-items: center;
letter-spacing: 0.05em;

color: #545454;
}
.donation-legal{
    position: absolute;
    width: 380px;
    height: 72px;
    left: 0px;
    top: 210px;
            
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
        
    display: flex;
    align-items: center;
          
    color: #B2B2B2;    
}
.footer{
    position: absolute;
    height: 350px;
    left: 0%;
    right: 0%;
    top: 3446px;
    }
    .footer-gradient-background{
    position: absolute;
    height: 350px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: url(footer-background.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    
    }
    .footer-content{
    position: absolute;
    width: 1200px;
    height: 310px;
    left: 40px;
    top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1;
    
    }
    .footer-contacts{
    position: absolute;
    width: 278px;
    height: 234px;
    
    grid-column: 1 /2;
    }
    .footer-title{
    position: absolute;
    width: 278px;
    height: 90px;
    top: 16px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    
    letter-spacing: 0.05em;
    
    color: #FFFFFF;
    
    }
    .footer-mail{
    position: absolute;
    width: 251px;
    height: 32px;
    left: 0px;
    top: 146px;
    justify-content: center;
    text-align: center;
    
    }
    .mail-icon{
    position: absolute;
    width: 40px;
    height: 32px;
    left: 0;
    top: calc(50% - 26px/2 - 0px);
    
    color: #F1CDB3;
    }
    .footer-mail-text{
    position: absolute;
    width: 191px;
    height: 23px;
    left: 50px;
    top: 5px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    
    }
    .footer-phone{
        position: absolute;
    width: 239px;
    height: 32px;
    left: 0px;
    top: 218px;
    }
    
    .phone-icon{
        position: absolute;
        width: 40px;
        height: 32px;
        left: 0;
        top: 0;
        
    }
    .footer-phone-text{
    position: absolute;
    width: 179px;
    height: 23px;
    left: 50px;
    top: 5px;
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    
    letter-spacing: 0.05em;
    
    color: #F1CDB3;
    
    }
    .footer-location{
        position: absolute;
        width: 278px;
        height: 234px;
        grid-column-start: 2 
        }
        .footer-location-title{
            position: absolute;
            width: 302px;
            height: 234px;
            top: 16px;
            font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        
        letter-spacing: 0.05em;
        
        color: #FFFFFF;
        
         }
         .footer-location-text{
    position: absolute;
    width: 260px;
    height: 23px;
    left: 50px;
    top: 0px;
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    
    color: #F1CDB3;
     }
     .footer-puppy{
    position: absolute;
    width: 300px;
    height: 310px;
    right: 0px;
    grid-column-start: 3; 
    
    top: 0px;
    
     }