body{
    scroll-behavior: smooth;

}
.ourpets1280{
    position: relative;
    width: 1280px;
    height: 1812px;
    }
    .header-container {
        position: absolute;
        height: 120px;
        left: 0%;
        right: 0%;
        top: 0px;
        background: #FFFFFF;
    }
    
    .header{
    position: absolute;
    width: 1200px;
    height: 60px;
    left: calc(50% - 1200px/2);
    top: calc(50% - 60px/2);
    
    }
    .header-logo{
    position: absolute;
    width: 184px;
    height: 60px;
    left: 0px;
    top: 0px;
    }
    .header-title{
        position: absolute;
        width: 184px;
        height: 35px;
        left: 0px;
        top: calc(50% - 35px/2 - 12.5px);
                 
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        
      
        
        color: #545454;
        
    }
    .header-subtitle{
        position: absolute;
        width: 179px;
        height: 15px;
        left: 4px;
        top: calc(50% - 15px/2 + 22.5px);
                      
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
              
        display: flex;
        align-items: center;
        letter-spacing: 0.09em;
         color: #292929;  
}
.nav-menu {
        position: absolute;
        width: 443px;
        height: 27px;
        left: 757px;
        top: 16px;
        text-decoration: none;
        cursor:pointer;
}
.nav-menu :hover  {
          border-color: #585756;
          border-bottom: solid;
      
}  
.about-the-shelter {
position: absolute;
width: 114px;
height: 24px;
top: 16px;
    
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;

color: #545454;
text-decoration: none;


flex: none;
order: 0;
flex-grow: 0;
         
}

.our-pets {
      
 position: absolute;
 width: 58px;
 height: 24px;
 right: 236px;
 top: 16px;

 font-family: 'Arial';
 font-style: normal;
 font-weight: 400;
 font-size: 15px;
 line-height: 160%;

 color: #292929;
flex: none;
order: 0;
flex-grow: 0;
}
.help-the-shelter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    position: absolute;
    width: 106px;
    height: 24px;
    right: 95px;
    top: 16px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
   
    color: #292929;
    text-decoration: none;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.contacts {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 60px;
height: 24px;
right: 0px;
top: 16px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
color: #292929;
text-decoration: none;

flex: none;
order: 0;
flex-grow: 0;
}
.pets{
position: absolute;
height: 1342px;
left: 0%;
right: 0%;
top: 120px;
background: #F6F6F6;
}
.pets-content{
position: absolute;
width: 1200px;
height: 1162px;
left: calc(50% - 1200px/2);
top: 80px;
}
.pets-content-heading{
position: absolute;
width: 400px;
height: 90px;
left: calc(50% - 400px/2);
top: 0px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
/* or 45px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
}
.pets-cards-container{
position: absolute;
width: 1200px;
height: 930px;
left: 0px;
top: 135px;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(2,1fr);
}
.pets-cards-container :hover {
    color: #250276;
    font-weight: 400;

}
.card-picture{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 37.93%;
    border-radius: 9px 9px 0px 0px;
  
}

.card1 {
position: absolute;
width: 270px;
height: 435px;
grid-column-start:1;
background: #FAFAFA;
border-radius: 9px;
cursor: pointer;
}
.card2 {
    position: absolute;
    width: 270px;
    height: 435px;
    grid-column-start:2;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}
.card3 {
    position: absolute;
    width: 270px;
    height: 435px;
    grid-column-start:3;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}
.card4 {
    position: absolute;
    width: 270px;
    height: 435px;
    grid-column-start:4;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}
.card5 {
    position: absolute;
    width: 270px;
    height: 435px;
    grid-column-start:1;
    grid-row: 2 / 3;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}
.card6 {
    position: absolute;
    width: 270px;
    height: 435px;
    grid-column-start:2;
    grid-row: 2 / 3;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}
.card7 {
    position: absolute;
    width: 270px;
    height: 435px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}
.card8 {
    position: absolute;
    width: 270px;
    height: 435px;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}

.pets-card-button-secondary{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 187px;
    height: 52px;
    left: 41.5px;
    top: 353px;
    
        }
    
    .pets-card-button-primary{
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 45px;
        gap: 10px;
        
        width: 187px;
        height: 52px;
        
        border: 2px solid #F1CDB3;
        border-radius: 100px;
             
        flex: none;
        order: 0;
        flex-grow: 0;
     
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    }
    
    .petname{
    position: absolute;
    width: 74px;
    height: 23px;
    left: 98px;
    top: 300px;
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #545454;
    }
    .card-picture{
    
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 37.93%;
     
        border-radius: 9px 9px 0px 0px;
}
.navigation{
position: absolute;
width: 340px;
height: 52px;
left: 430px;
top: 1110px;
display: grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: 1;
cursor: pointer;
}
.navigation :hover{
    color:#250276;
    font-weight: 800;
}
.button-paginator-grey1{
    position: absolute;
width: 52px;
height: 52px;
grid-column-start: 1;

}
.button-paginator-grey2{
    position: absolute;
    width: 52px;
    height: 52px;
    grid-column-start: 2 ;
   
}

.button-paginator-page{
position: absolute;
width: 52px;
height: 52px;

background: #F1CDB3;
border-radius: 100px;
grid-column-start: 3;
position: absolute;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;

display: flex;
align-items: center;
text-align: center;
justify-content: center;
letter-spacing: 0.06em;

text-decoration-color: #050505;
}

.button-paginator{

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
border: 2px solid #CDCDCD;
border-radius: 100px
  }
.button-paginator-text{
position: absolute;
left: 23.08%;
right: 25%;
top: 26.92%;
bottom: 28.85%;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;

display: flex;
align-items: center;
text-align: center;
justify-content: center;
letter-spacing: 0.06em;

color: #CDCDCD;
  }
  .button-paginator-yellow1{
    position: absolute;
    width: 52px;
    height: 52px;
    grid-column-start: 4 ;
    border: 2px solid #F1CDB3;
border-radius: 100px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;

display: flex;
align-items: center;
text-align: center;
justify-content: center;
letter-spacing: 0.06em;
text-decoration-color: #050505;
   
}
.button-paginator-yellow2{
    position: absolute;
    width: 52px;
    height: 52px;
    grid-column-start: 5 ;
    border: 2px solid #F1CDB3;
border-radius: 100px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;

display: flex;
align-items: center;
text-align: center;
justify-content: center;
letter-spacing: 0.06em;

text-decoration-color: #050505;
   
}
.footer{
position: absolute;
height: 350px;
left: 0%;
right: 0%;
top: 1462px;
}
.footer-gradient-background{
position: absolute;
height: 350px;
left: 0%;
right: 0%;
top: 0px;
background: url(footer-background.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

}
.footer-content{
position: absolute;
width: 1200px;
height: 310px;
left: 40px;
top: 40px;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: 1;

}
.footer-contacts{
position: absolute;
width: 278px;
height: 234px;

grid-column: 1 /2;
}
.footer-title{
position: absolute;
width: 278px;
height: 90px;
top: 16px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;

letter-spacing: 0.05em;

color: #FFFFFF;

}
.footer-mail{
position: absolute;
width: 251px;
height: 32px;
left: 0px;
top: 146px;
justify-content: center;
text-align: center;

}
.mail-icon{
position: absolute;
width: 40px;
height: 32px;
left: 0;
top: calc(50% - 26px/2 - 0px);

color: #F1CDB3;
}
.footer-mail-text{
position: absolute;
width: 191px;
height: 23px;
left: 50px;
top: 5px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
justify-content: center;
text-align: center;
line-height: 115%;
letter-spacing: 0.06em;
color: #F1CDB3;

}
.footer-phone{
    position: absolute;
width: 239px;
height: 32px;
left: 0px;
top: 218px;
}

.phone-icon{
    position: absolute;
    width: 40px;
    height: 32px;
    left: 0;
    top: 0;
    
}
.footer-phone-text{
position: absolute;
width: 179px;
height: 23px;
left: 50px;
top: 5px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;

letter-spacing: 0.05em;

color: #F1CDB3;

}
.footer-location{
    position: absolute;
    width: 278px;
    height: 234px;
    grid-column-start: 2 
    }
    .footer-location-title{
        position: absolute;
        width: 302px;
        height: 234px;
        top: 16px;
        font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    
    letter-spacing: 0.05em;
    
    color: #FFFFFF;
    
     }
     .footer-location-text{
position: absolute;
width: 260px;
height: 23px;
left: 50px;
top: 0px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;

color: #F1CDB3;
 }
 .footer-puppy{
position: absolute;
width: 300px;
height: 310px;
right: 0px;
grid-column-start: 3; 

top: 0px;

 }